

* {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666565;
  background-color: #EFFDF5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container-page1 {
  position: relative;
  background-color: #fff;
  padding: 0;
  width: 85%;
  max-width: 1320px;
  min-height: 80rem;
  margin-right: auto;
    margin-left: auto;
}

/*  */
/*  */
.body-nav {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader {
  position: absolute;
  top: 0%;
  left: 0%;
  background: #effdf5 url(../Img/madagascar-penguins.gif) no-repeat center center;
  background-size: 11%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
}

::selection {
  background-color: #00b894;
  color: whitesmoke;
}

:root {
  --body-color: #effdf5;
  --hero-color: white;
  --h1-color: #0e2e50;
  --p-color: #636e72;
  --search-bg: #0e2e50;
  --nav-bg: white;
  --links-col: #0e2f52;
}

.dark-theme {
  --body-color: #010602;
  --hero-color: black;
  --h1-color: whitesmoke;
  --p-color: whitesmoke;
  --search-bg: #040707;
  --nav-bg: #000000;
  --links-col: #e0ffff;
}

#icon {
  width: 30px;
  cursor: pointer;
  transform: translateY(-5px);
}

#icon:hover {
  transition: 0.5s;
  filter: drop-shadow(10px -15px #00b894);
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hero-color);
  padding: 0 0 0 40px;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  color: var(--h1-color);
  line-height: 1.2;
  text-align: left;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero-content span {
  color: #00b894;
}

.hero-content p {
  margin-top: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

.para {
  color: var(--p-color);
}

.get-started {
  padding: 1.2rem 3rem;
  background-color: #00b894;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 400;
}

.get-started:hover {
  background-color: #26c49f;
}

.hero-image {
  height: 591px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease, opacity 0.15s ease;
  object-fit: cover;
}

.hero-image img:hover {
  transform: scale(1.4);
  transition: 1s ease;
  cursor: pointer;
}

.hero-controls {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-controls .prev,
.hero-controls .next {
  position: relative;
  background-color: #00b894;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 30px;
  height: 50px;
  width: 50px;
  display: block;
  transition: 0.5s;
}

.prev {
  margin-bottom: 10px;
}

.next:hover,
.prev:hover {
  background-color: #0e2e50;
}

.arrow-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.prev:hover .arrow-center {
  transform: translate(-11px, -19px);
}

.next:hover .arrow-center {
  transform: translate(1px, -19px);
}

.search-bar {
  display: flex;
  padding: 20px;
  background-color: #00b894;
  padding: 30px;
  margin: auto;
  padding-bottom: 34.8px;
}

.search-bar input,
.search-bar select,
.search-bar button {
  border: none;
  border-radius: 5px;
}

.search-bar input,
.search-bar select {
  margin-right: 6px;
}

.search-bar input {
  margin-left: 28px;
  padding: 13px;
  width: 280px;
  font-size: 1rem;
  outline: none;
}

.search-bar select {
  padding: 10px;
  width: 280px;
  background-color: #fff;
  color: rgb(78, 81, 84);
  cursor: pointer;
}

select option {
  cursor: pointer;
}

.search-bar .search {
  background-color: var(--search-bg);
  color: whitesmoke;
  cursor: pointer;
  width: 200px;
  padding: 13px;
  line-height: 1.5;
  transition: 0.5s;
}

.search:hover {
  background-color: #0c2744;
}


.link ,
.hov1
{
  color: var(--links-col);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
}

.logo-word {
  color: #00b98e;
}

.log-img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px dashed #00b98e;
  margin-right: 5px;
  transform: translateY(30px);
}

.logo-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.log {
  display: flex;
}

#navbar {
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: var(--nav-bg);
  width: 80%;
  height: 65px;
  margin: auto;
  padding: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: width 0.5s ease-in-out;
}

.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  padding-top: 35px;
}

.nav-list li {
  padding-left: 15px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #00b98e;
  margin: 8px;
  transition: 0.3s;
}

.link:hover {
  color: #00b98e;
}

nav ul li.dropdown {
  position: relative;
}

nav ul li.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: var(--nav-bg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  top: 65%;
  left: -10%;
  min-width: 120px;
  padding-left: 0;
}

.material-symbols-outlined {
  font-size: 14px !important;
}

.dropdown-content li {
  padding: 0 5px 5px;
  list-style-type: none;
}

.dropdown-content li a {
  align-items: center;
}

.dropdown-content li:hover {
  color: #00b98e;
  background-color: #c8cacb;
  transition: 0.15s;
}

.add-prop-btn {
  transform: translateY(-8px);
  color: #fff;
  background-color: #00b98e;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.add-prop-btn1 {
  transform: translateY(-8px);
  color: #00b98e;
  background-color: white;
  border: 1px solid #00b98e;
  border-radius: 5px;
  padding: 9px 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.add-prop-btn1:hover {
  color: #fff;
  background-color: #00b98e;
}

.add-prop-btn:hover {
  background-color: #00b98edf;
  transition: 0.25s ease-in;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  #preloader {
    position: absolute;
    top: 0%;
    left: 0%;
    background: #effdf5 url(madagascar-penguins.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    overflow: hidden;
  }

  .add-prop-btn {
    position: static;
  }

 #navbar {
    width: 100%;
    top: 0%;
    left: 0%;
  }

  .dropdown-content {
    left: -115%;
    z-index: 19;
  }

  .dropdown-content li {
    padding-bottom: 10px;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: -5%;
    width: 50vw;
    height: 85vh;
    background: var(--nav-bg);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .search-bar {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .search-bar input {
    width: 96%;
    margin: 5px 0;
    text-align: center;
  }

  .search-bar select,
  .search-bar button {
    width: 100%;
    margin: 5px 0;

    text-align: center;
  }

  .search-bar button {
    width: 100%;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 1012px) {
  .add-prop-btn {
    padding: 3px 20px;
    display: flex;
  }

  #navbar {
    width: 100%;
    left: 0;
    right: 0%;
  }
}







/*  */
/*  */
/*  */

.frist-page {
  background-color: white;
    width: 100%;
    padding: 0;
    margin-top: -5rem;  
    margin-right: auto;
    margin-left: auto;
}

.frist-page .info-1 {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}


.img-1 {
  flex: 0 0 auto;
  width: 45%;
}

.header-1 {
  margin-top: 3rem;
  padding: 2rem;
  flex: 0 0 auto;
  width: 45%;
}
.img-1 img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  overflow: hidden;
  object-fit: cover;
  display: block;
  overflow-clip-margin: content-box;
    overflow: clip;

}

.header-1 h1 {
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  color: #0e2e50;
  padding: 1.1rem;
  font-weight: 700;
}

.header-1 nav {
  display: flex;
  flex-wrap: wrap;
    padding: 0.5rem;
    font-size: 1.2em;
    font-weight: 200;
}

.header-1 nav a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #009472;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.header-1 nav  span {
  color: #6c757d73;
}
.header-1 nav a:nth-child(5) {
  color: rgba(58, 58, 58, 0.767);
}

.header-1 nav a:hover {
  color: #0a7ac1;
}
/*  */
/*  */

 .bottom-Serch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2.5rem;
    gap: 10px;
    background-color: #00b98e; 
    margin-bottom: 10rem;
}
 
.PT,.Loc,.SH {
  flex: content;
  padding: 1rem 1.1rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 5px;
  color: #666565;
  outline: none;
}
.SH-button {
  flex: content;
  padding: 1.5rem 1.1rem;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  background-color: #0e2e50;
  color: #FFF;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.SH-button:active {
  outline: 5px solid #0e2e507a;
} 
/*  */

 .info-error {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15em;
    margin: 5em 0;
    width: 100%;
}

.info-error .icon {
  font-size: 3.5rem;
  margin: 0.5rem 0;
  color: #00b98e;
}
.info-error .H1 {
  line-height: 1.2;
  Font-size: 5.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
      color: #0E2E50;
    font-weight: 800;
}

.info-error .H1-2 {
  line-height: 1.2;
  Font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #0E2E50;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top:-15.8px ;
}

.info-error .text {
  color: #666565;
  margin-bottom: 1.5rem;
  font-size: medium;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #00b98e;
  border: 1px solid transparent;
  padding: 0.875rem 2.55rem;
  margin: 1.1em;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:active {
  transition: 0.2s ease-in-out;
  outline-color: #00b98ea1;
  outline-width: 5px;
  outline-style: solid
  ;   
}

  @media screen and (max-width: 768px) {
    .container-page1 {
        margin: auto;
        width: 80%;
    }
  
    .frist-page {
        flex-direction: column;
        margin-top: 0;
    }
  
    .header-1,
    .img-1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        
        
    }
  
    .header-1 h1 {
        font-size: 2.5rem;
    }
  
    .header-1 nav {
        justify-content: center;
        padding: 1rem 0;
    }
  
    .img-1 img {
        max-width: 90%;
        height: auto;
    }
  
    .bottom-Serch {
      align-items: center;
      padding: 1rem;
    }
  
    .PT,
    .Loc,
    .SH,
    .SH-button {
        width: 100%;
        font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header-1 h1 {
        font-size: 2rem;
    }
  
    .header-1 nav {
        flex-direction: column;
        font-size: 1rem;
    }
  
    .bottom-Serch {
        padding: 1rem;
    }
  
    .PT,
    .Loc,
    .SH,
    .SH-button {
        font-size: 1rem;
    }
  }
  

  
  @media (max-width: 1200px) {
  .container-page1 {
      flex-direction: column;
      align-items: center; 
  }
  
  }
@media (max-width: 768px) {
 
}


@media (max-width:852px) {
  .header-1 {
    text-align: center;
    flex: 0 0 auto;
    
}
.info {
 display: flex!important;
  flex-direction: column!important;
}
.nav {
  text-align: center;
}
  }

  ::selection {
    background-color: #00b894;
    color: whitesmoke;
  }

  #scrollToTopBtn
{
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #00b894;
    color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  display: none; 
  font-size: 20px;
  transition: all 1s ease 0s;
}